<div class="content">
  <div style="border:solid">
    <div *ngIf="!(login | async).isPending">
      <h1> Welcome to Login Page </h1>
      <button (click)="actions.login()" style="width:100px;height:50px;font-size: 20px">
        Login
      </button>
    </div>
    <span *ngIf="(login | async).isPending">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:100px;"></i>
  </span>
  </div>
  <div style="border:solid">
    <h2> This is what your store looks like during the process:</h2>
    <div> {{ login | async | json }}</div>
  </div>
</div>
